.filtros-buscar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 650px;
}

.chip-filtro {
  background-color: #e0e0e0;
  color: #000;
  border: none;
  padding: 0.4rem 0.9rem;
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.chip-filtro:hover {
  background-color: #ccc;
}

.chip-filtro.activo {
  background-color: #007bff;
  color: white;
}
