.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-contenido {
  background-color: white;
  padding: 20px;
  width: 360px;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.lista-usuarios {
  list-style: none;
  padding: 0;
  margin: 0;
}

.usuario-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.usuario-boton-wrapper {
  margin-left: auto;
}

.usuario-item img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.usuario-info {
  display: flex;
  flex-direction: column;
}

.usuario-nombre {
  font-weight: 600;
  font-size: 0.95rem;
  color: #111;
}

.usuario-username {
  color: #7b1fa2; /* morado tipo @username */
  font-size: 0.85rem;
}

.usuario-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
  width: 100%;
  cursor: pointer;
}
.usuario-link:hover .usuario-nombre {
  text-decoration: underline;
}
