.myBackground{
  height: 100vh; /* Adjust height as needed */
  width: 100%;
  display: flex;
  background-color: aquamarine;
  align-items: center;
  justify-content: center;
  background: #020024;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.whiteBox {
  background-color: white;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  min-height: 40%;
  max-height: 60%;
  max-width: 600px;
  min-width: 300px;
}

.itemBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: white;

}

.title {
  font-size: 30px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.myForm,
.myButton{
    width: 100%;
}

.myButton{
  width: 50%;
  height: 50px;
  background-color: #4CAF50 /* Green */ !important;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 16%, rgba(0, 212, 255, 1) 100%);
}

.AppBar {
  background: #141618;
    text-align: center;
}

.SideBar {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  color: white;
  padding: 10px;
  text-align: center;
  height: 100vh; /* Full height */
}

.itemBox .link {
  cursor: pointer;
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  font-size: 16px; /* Adjust font size */
  margin: 7px 0; /* Add spacing between links */
}